<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax"/>
  </configSections>
  <magicAjax scriptPath="~/Core" outputCompareMode="HashCode" tracing="false">
    <pageStore mode="NoStore" unloadStoredPage="false" cacheTimeout="5" maxConcurrentPages="5" maxPagesLimitAlert="false"/>
  </magicAjax>

  <appSettings>
    <add key="cStrConexao"  value="server=marcos;uid=sdhgshfgsdfwiiww;pwd=$$%%^#%%%#;database="/> 
  </appSettings>

  <system.web>
    
    <authentication mode="Windows">
      <forms name="form" loginUrl="index.aspx"/>
    </authentication>

    <authorization>
      <allow users="?"/>
    </authorization>
    
    <httpModules>
      <add name="MagicAjax" type="MagicAjax.MagicAjaxModule, MagicAjax"/>
    </httpModules>
    <customErrors defaultRedirect="esperro.aspx" mode="On" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
 </configuration>



<!--
	<location path="Administracao">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
-->
