vti_encoding:SR|utf8-nl
vti_textextensions:SX|.txt.asm.bdsdeploy.bdsgroup.bdsproj.c.cc.cd.cod.cpp.cs.csdproj.csproj.cur.cxx.def.dpk.dpkw.dpr.dsp.dsw.h.hpp.hxx.i.idl.inc.inl.jsl.lst.mak.map.mdp.mk.odh.odl.pas.rc.rc2.rct.rgs.s.sln.sol.sor.srf.tlh.tli.txt.user.vb.vbdproj.vbproj.vddproj.vdp.vdproj.vjp.vjsproj.vspscc.vsscc.vssscc.
vti_webservertype:SR|msiis
vti_restartmanual:IX|0
vti_defaultlanguage:SR|pt-br
vti_timecreated:TR|27 Jan 2006 12:48:17 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_casesensitiveurls:IX|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.stm.html.htm.shtml.shtm.htt.htx.asp.alx.asa.
vti_extenderversion:SR|4.0.2.8912
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_title:SW|Sisportaria
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Voltar
vti_navbuttonnextlabel:SR|Avançar
vti_approvallevels:VR|Revisão\\ do\\ conteúdo Revisão\\ legal Revisão\\ do\\ código Revisão\\ do\\ gerente
vti_welcomenames:VX|Default.htm Default.asp index.htm iisstart.asp Default.aspx
vti_secureserverurl:SR|https://Marcos
vti_navbuttonhomelabel:SR|Home
vti_dependenciesood:IR|0
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Viagens Relatório\\ de\\ despesas Negócios Competição Metas/objetivos Idéias Disposições\\ gerais Aguardando VIP Em\\ processo Planejamento Agenda
vti_insecureserverurl:SR|http://Marcos
vti_defaultcharset:SR|windows-1252
vti_navbuttonuplabel:SR|Acima
